@import "tailwindcss";

@theme inline {
    --color-primary-400: var(--primary);
    --font-hashbnb: Airbnb Cereal, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

@layer base {
    :root {
        --primary: #FF385C;
    }
}